@{ AjaxOptions option = new AjaxOptions { HttpMethod = "post", UpdateTargetId = "content", LoadingElementDuration = 500 };}

<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i>资讯管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul id="channelmenu">
                    <li> @Ajax.ActionLink("文章管理", "ArticleMgr", "/Admin/Home", option, new { id = "article-mgr", title = "文章管理" })</li>
                    <li> @Ajax.ActionLink("广告管理", "AdMgr", "/Admin/Home", option, new { id = "ad-mgr", title = "广告管理" })</li>
                    <li> @Ajax.ActionLink("评论审核", "ModComments", "/Admin/Home", option, new { id = "mod-mgr", title = "评论审核" })</li>
                    <li> @Ajax.ActionLink("过滤词管理", "FilterWordsMgr", "/Admin/Home", option, new { id = "filterwords-mgr", title = "过滤词管理" })</li>
                    <li> @Ajax.ActionLink("频道管理", "ChannelMgr", "/Admin/Home", option, new { id = "cha-mgr", title = "频道管理" })</li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-tool">
            <dt><i class="Hui-iconfont">&#xe62e;</i>其他<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li id="memo-mgr1"><a href="#" title="常用技巧和日志">备忘录</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onclick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->
